body {
    font-family: "Josefin Sans" , "Noto Sans JP" , sans-serif;
    letter-spacing: 0.05em;
    color: #3c301e;
}

img {
    width: 100%;
}

/* headerクラス */
.header {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(241, 238, 228, 0.25);
    width: 100%;
    text-align: center;
    padding: 12px;
}

.header-logo {
    width: 200px;
    margin: 0 auto;
}

.header-nav {
    margin-top: 10px;
}

.header-nav-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;
}


.header-nav-link {
    color: #fff;
}

/* 共通クラス */
.inner {
    padding: 0 40px;
}

.section-heading {
    text-align: center;
    margin-bottom: 40px;
}

.section-heading {
    color: #fff;
}

.section-heading-main {
    display: block;
    font-size: 40px;
    color: #3c301e;
}

.section-heading-sub {
    display: block;
    font-size: 12px;
    color: #3c301e;
}

.section-heading-main-shop {
    display: block;
    font-size: 40px;
    color: #fff;
}

.section-heading-sub-shop {
    display: block;
    font-size: 12px;
    color: #fff;
}

/* ファーストビュー */

.fv-picture img{
    width: 100%;
}

/* aboutコンテンツ */
.about {
    padding: 40px 0;
    background-color: #f1eee4;
}

.about-text-contents {
    margin-top: 20px;
}

.about-text {
    font-size: 14px;
    line-height: 2;
}

.about-text + .about-text {
    margin-top: 16px;
}

/* Menuコンテンツ */
.menu {
    background-color: #f1eee4;
    padding: 80px 0;
}

.menu-item + .menu-item {
    margin-top: 62px;

}

.menu-text-contents {
    text-align: center;
    padding: 16px 10px;
}

.menu-name-main{
    font-size: 18px;
    display: block;
    margin-top: 8px;

}

.menu-name-sub {
    color: #a98c5f;
    font-size: 12px;
    display: block;

}

.menu-text {
    font-size: 14px;
    color: #a98c5f;
    margin-top: 16px;
}

/* shopセクション */
.shop {
    background-image: url(../img/sp/bg-shop.png);
    background-position: center center;
    background-size: cover;
    padding: 80px 0;
}

.shop-inner{
    padding: 0 20px;
}


.shop-text{
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 2;
}

.form {
    margin-top: 40px;
}

.form-input {
    width: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-family: "Josefin Sans" , "Noto Sans JP" , sans-serif;
    padding: 14px;
}

.form-submit{
    border-radius: 4px;
    border: none;
    font-family: "Josefin Sans" , "Noto Sans JP" , sans-serif;
    display: block;
    margin: 10px auto 0;
    width: 120px;
    padding: 12px 10px;
    color: #fff;
    background-color: #a98c5f;
}

/* footer*/
.footer {
    background-color: #3c301e;
    text-align: center;
    padding-top: 46px;
    color: #fff;

}

.footer-logo{
    width: 200px;
    margin: 0 auto;
}


.footer-nav-list {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 20px;
}

.footer-nav-link-text {
    font-size: 12px;
    margin-top: 12px;
}

.sns-img{
    width: 56px;
}

.footer-copy-wrapper {
    border-top: 1px solid rgba(241, 238, 228, 0.25);
    padding: 12px;
    margin-top: 46px;
}

.footer-copylight {
    font-size:12px ;
}

/*　タブレット、PCサイズの表示 */

@media screen and (min-width: 768px){
    body {
        letter-spacing: 0.05em;
        color: #3c301e;
    }

    .header {
        padding: 16px;
    }

    .header-logo {
        margin: 0;
    }

    .header-inner {
        max-width: 1080px;
        padding: 0 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .header-nav-link:hover {
        opacity: 0.7;
    }

    .header-nav-list {
        gap: 40px;
    }

    .drawer {
        position: fixed;
        top: 65px;
        background-color: rgba(14, 14, 14, 0.5);
        color: #fff;
        overflow-y: auto;
        z-index: 10;
        display: none;
    }

    .drawer a{
        display: block;
        top: 20px;
        padding: 10px 10px;
    }

    .inner {
        max-width: 1080px;
        padding: 0 40px;
        margin: 0 auto;
    }

    .section-heading-main{
        font-size: 64px;
    }

    .about {
        padding: 100px 0;

    }

    .about-contents {
        display: flex;
        gap: 40px;
        align-items: center;
        margin-top: 0;
    }

    .about-text {
        font-size: 15px;

    }

    .about-text + .about-text {
        margin-top: 30px;
    }

    .about-img {
        width: 300px;
    }

    .menu {
        padding: 0 0 100px;
    }

    .menu-item + .menu-item {
        margin-top: 0;
    }

    .menu-list {
        display: flex;
        gap: 20px;
    }

    .shop {
        background-image: url(../img/bg-shop.png);
        background-position: center center;
        background-size: cover;
        padding: 60px 0;
    }

    .form {
        display: flex;
        gap: 20px;
    }

    .shop-inner {
        max-width: 600px;
        margin: 0 auto;
    }

    .form-submit {
        margin-top: 0;
        transition: opacity 0.3s;
    }

    .form-submit:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    .footer-text {
        margin-top: 12px;
        gap: 40px;
    }

    .footer-nav-link:hover{
        opacity: 0.7;
    }

    .footer-copylight {
        font-size: 13px;
    }

    #page-top a {
        background-color: #1cb4d3;
        bottom: 0;
        color: #fff;
        padding: 20px;
        position: fixed;
        right: 0;
    }
}